<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if (data.result.exists) { %>  
        <title>Post(<%=data.result.id%>)</title>
    <% } else {%>
        <title>Post Not Found</title>
    <%}%>
</head>
<body>
    <% if (data.result.exists) { %>
        <a href="<%=data.result.id%>">View this Post</a>
    <%} else {%>
        <a href="/posts">See more Posts</a>
    <%}%>
</body>
</html>