<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get All Posts</title>
</head>
<body>
    <ul>
        <% data.map((post) => {%>
            <li data-id="<%=post.id%>"><%=post.body%></li>
        <%})%>
    </ul>
</body>
</html>