<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nicely | A social network for nice people</title>
</head>
  <body>
    <form action="/api/v1/users" hx-method="PUT">
      <input type="email" name="email-address">
      <input type="password" name="password">
      <button rel="login-user" type="submit">Login</button>
   </form>
   <script src="https://unpkg.com/htmx.org@1.8.0"></script>
   <script src="https://unpkg.com/htmx.org/dist/ext/json-enc.js"></script>
  </body>
</html>